.d-flex.align-items-center.justify-content-between.p-3.border-top
  .text-muted.small= pagy_info(@pagy)
  == pagy_bootstrap_nav(@pagy, aria_label: 'Table pagination', classes: 'pagination pagination-sm')
